/*Coded by 
	 Name	: Nasir Raza
	 Roll #	: KH01210813250
*/
body {
    background-color:lightgreen;
}
.todoinput {
    margin-left: 17%;
    border: 2px solid blue;
    width: 65%;
    color: black;
    background-color: yellow;
}

.todolisthead {
    margin-top: 20px;
    margin-left: 17%;
    width: 65%;
}

.todolist {
    margin-top: 5px;
    margin-left: 17%;
    border: 2px solid green;
    width: 65%;
    height: 460px;
    overflow-x: auto;
    background-color: beige
}

.inputdesc {
    margin-bottom: 10px;
    margin-left: 20px;
    height: 30px;
    width: 490px;
    font-size: x-large;
}

.inputdays {
    margin-bottom: 10px;
    margin-left: 20px;
    height: 30px;
    width: 160px;
    font-size: x-large;
}

.add-button {
    margin-bottom: 20px;
    margin-left: 15px;
    width: 80px;
    font-size: x-large;
}

.update-button {
    margin-bottom: 20px;
    margin-left: 15px;
    width: 100px;
    font-size: x-large;
}

.itemlistbutton {
    margin-left: 5px;
    width: 95px;
    height: 35px;
    color: rgb(1, 70, 1);
    background-color: rgba(129, 158, 35, 0.327);
    font-size: large;
}

label {
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: blue;
}

.olist {
    margin: 30px;
    font-size: xx-large;
    list-style-type: decimal-leading-zero;
    color: rgb(1, 70, 1);
    font-weight: bold;
}

.ulist {
    margin: 20px;
    font-size: x-large;
    list-style-type: disc;
    color: blue;
    font-weight: normal;
}

.complete {
    color:fuchsia;
    text-decoration: line-through;
}